# SQLite Database Exploration

This application takes a SQLite database and outputs results to markdown report. 

Steps:
This notebook inspects the database to identify tables, data structure and optimize through indexing.

In [1]:
import pandas as pd
import sys
import os

# Add the path to utils/ directory, which is one level up from the /data directory
sys.path.append(os.path.abspath(os.path.join('..', 'utils')))


# Now you can import the db_utils module
import db_utils as db

In [2]:
db_path = "C:/Users/megan/OneDrive/Documents/GitHub/sqlite_to_analysis_app/data/combined_data.db"
conn = db.connect_to_db(db_path)

In [3]:
# identify names of tables in the database
db.run_query(conn,"SELECT name FROM sqlite_master WHERE type='table'")

[('CompanyClassification',), ('CompanyDataset',)]

In [4]:
# identify if database is optimized with indexes for CompanyDataset
print(db.run_query(conn,"PRAGMA index_list(CompanyDataset);"))

# identify if database is optimized with indexes for CompanyClassification
print(db.run_query(conn,"PRAGMA index_list(CompanyClassification);"))

[]
[]

In [5]:
print(db.time_query(conn, "SELECT count(*) FROM CompanyDataset"))
print(db.time_query(conn, "SELECT count(*) FROM CompanyClassification"))

(0.12378454208374023, [(7173426,)])
(0.0039997100830078125, [(73974,)])

In [6]:
# check table structure and column names
db.run_query(conn,"PRAGMA table_info('CompanyDataset');")

[(0, 'Unnamed: 0', 'INTEGER', 0, None, 0),
 (1, 'CompanyName', 'TEXT', 0, None, 0),
 (2, 'Website', 'TEXT', 0, None, 0),
 (3, 'year founded', 'REAL', 0, None, 0),
 (4, 'industry', 'TEXT', 0, None, 0),
 (5, 'size range', 'TEXT', 0, None, 0),
 (6, 'locality', 'TEXT', 0, None, 0),
 (7, 'country', 'TEXT', 0, None, 0),
 (8, 'linkedin url', 'TEXT', 0, None, 0),
 (9, 'current employee estimate', 'INTEGER', 0, None, 0),
 (10, 'total employee estimate', 'INTEGER', 0, None, 0)]

In [7]:
# check table structure and column names
db.run_query(conn,"PRAGMA table_info('CompanyClassification');")

[(0, 'Category', 'TEXT', 0, None, 0),
 (1, 'Website', 'TEXT', 0, None, 0),
 (2, 'CompanyName', 'TEXT', 0, None, 0),
 (3, 'homepage_text', 'TEXT', 0, None, 0),
 (4, 'h1', 'TEXT', 0, None, 0),
 (5, 'h2', 'TEXT', 0, None, 0),
 (6, 'h3', 'TEXT', 0, None, 0),
 (7, 'nav_link_text', 'TEXT', 0, None, 0),
 (8, 'meta_keywords', 'TEXT', 0, None, 0),
 (9, 'meta_description', 'TEXT', 0, None, 0)]

In [8]:
# read tables into pandas dataframe
company_dataset = pd.read_sql_query("SELECT * FROM CompanyDataset",conn)
company_classification = pd.read_sql_query("SELECT * FROM CompanyClassification",conn)

In [16]:
print(company_dataset.columns)
print(company_dataset.shape)
company_dataset.head()

Index(['Unnamed: 0', 'CompanyName', 'Website', 'year founded', 'industry',
       'size range', 'locality', 'country', 'linkedin url',
       'current employee estimate', 'total employee estimate'],
      dtype='object')
(7173426, 11)

,Unnamed: 0,CompanyName,Website,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate
0,5872184,ibm,ibm.com,1911.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/ibm,274047,716906
1,4425416,tata consultancy services,tcs.com,1968.0,information technology and services,10001+,"bombay, maharashtra, india",india,linkedin.com/company/tata-consultancy-services,190771,341369
2,21074,accenture,accenture.com,1989.0,information technology and services,10001+,"dublin, dublin, ireland",ireland,linkedin.com/company/accenture,190689,455768
3,2309813,us army,goarmy.com,1800.0,military,10001+,"alexandria, virginia, united states",united states,linkedin.com/company/us-army,162163,445958
4,1558607,ey,ey.com,1989.0,accounting,10001+,"london, greater london, united kingdom",united kingdom,linkedin.com/company/ernstandyoung,158363,428960

In [17]:
print(company_classification.columns)
print(company_classification.shape)
company_classification.head()

Index(['Category', 'Website', 'CompanyName', 'homepage_text', 'h1', 'h2', 'h3',
       'nav_link_text', 'meta_keywords', 'meta_description'],
      dtype='object')
(73974, 10)

,Category,Website,CompanyName,homepage_text,h1,h2,h3,nav_link_text,meta_keywords,meta_description
0,Commercial Services & Supplies,bipelectric.com,bip dipietro electric inc,Electrici...,None,None,None,None,"electricians vero beach, vero beach electrical...","Providing quality, reliable full service resid..."
1,Healthcare,eliasmedical.com,elias medical,site map | en español Elias Medical h...,Offering Bakersfield family medical care from ...,Welcome to ELIAS MEDICAL#sep#Family Medical Pr...,Get To Know Elias Medical#sep#Family Medical P...,None,Elias Medical bakersfield ca family doctor med...,For the best value in Bakersfield skin care tr...
2,Commercial Services & Supplies,koopsoverheaddoors.com,koops overhead doors,Home About Us Garage Door Repair & Servi...,None,Customer Reviews#sep#Welcome to Koops Overhead...,None,None,"Koops Overhead Doors, Albany Garage Doors, Tro...","Koops Overhead Doors specializes in the sales,..."
3,Healthcare,midtowneyes.com,midtown eyecare,918-599-0202 Type Size...,None,Welcome to our practice!,None,None,None,We would like to welcome you to Midtown Eyecar...
4,Commercial Services & Supplies,reprosecurity.co.uk,repro security ltd,Simply fill out our form below...,None,Welcome to REPRO SECURITY Ltd,None,None,None,Repro Security provide a range of tailor made ...

# Optimize tables 
### rename columns for ease in development
There are columns with spaces and one column in CompanyDataset has the nondescript name of "Unnamed: 0". In this case, the column appears to be some kind of company ID.

You can reference a column with spaces in sqlite using a table alias and '' but I'd prefer to clean it up.


### indexing
Columns chosen for indexing based on what I expect to use for filtering, joining, sorting or aggregation. 

That is columns used in:
- WHERE
- JOIN
- ORDER BY
- GROUP BY

There are no indexes set for either CompanyDataset or CompanyClassification, which is really impacting query performance.

In [ ]:
# cursor = conn.cursor()
# cursor.execute("ALTER TABLE CompanyDataset RENAME COLUMN 'Unnamed: 0' TO 'Company_ID'")

In [19]:
columns_to_rename = {'Unnamed: 0':'Company_ID',
                     'year founded':'Year_Founded',
                     'industry':'Industry',
                     'size range':'Size_Range',
                     'locality':'Locality',
                     'country':'Country',
                     'linkedin url': 'Linkedin_URL',
                     'current employee estimate':'Current_Employee_Estimate',
                     'total employee estimate':'Total_Employee_Estimate'
                     }

db.rename_columns(conn, 'CompanyDataset', columns_to_rename)

Unnamed: 0 --> Company_ID
year founded --> Year_Founded
industry --> Industry
size range --> Size_Range
locality --> Locality
country --> Country
linkedin url --> Linkedin_URL
current employee estimate --> Current_Employee_Estimate
total employee estimate --> Total_Employee_Estimate

In the cell above, I ran into an issue where the database became locked during development. I was able to resolve this easily by copying the database file to a different location and then Copy/Replace the database file in the /data directory.

In [20]:
# check table structure and column names
db.run_query(conn,"PRAGMA table_info('CompanyDataset');")

[(0, 'Company_ID', 'INTEGER', 0, None, 0),
 (1, 'CompanyName', 'TEXT', 0, None, 0),
 (2, 'Website', 'TEXT', 0, None, 0),
 (3, 'Year_Founded', 'REAL', 0, None, 0),
 (4, 'Industry', 'TEXT', 0, None, 0),
 (5, 'Size_Range', 'TEXT', 0, None, 0),
 (6, 'Locality', 'TEXT', 0, None, 0),
 (7, 'Country', 'TEXT', 0, None, 0),
 (8, 'Linkedin_URL', 'TEXT', 0, None, 0),
 (9, 'Current_Employee_Estimate', 'INTEGER', 0, None, 0),
 (10, 'Total_Employee_Estimate', 'INTEGER', 0, None, 0)]

In [6]:
# create indexes for both tables
indexes_to_create = {
    'CompanyDataset': ['Company_ID','CompanyName', 'Website','Industry','Size_Range', 'Country','Current_Employee_Estimate','Total_Employee_Estimate']
    ,'CompanyClassification': ['Category', 'CompanyName', 'Website']
}

db.create_indexes(conn, indexes_to_create)

Created index: idx_companydataset_company_id on CompanyDataset(Company_ID)
Created index: idx_companydataset_companyname on CompanyDataset(CompanyName)
Created index: idx_companydataset_website on CompanyDataset(Website)
Created index: idx_companydataset_industry on CompanyDataset(Industry)
Created index: idx_companydataset_size_range on CompanyDataset(Size_Range)
Created index: idx_companydataset_country on CompanyDataset(Country)
Created index: idx_companydataset_current_employee_estimate on CompanyDataset(Current_Employee_Estimate)
Created index: idx_companydataset_total_employee_estimate on CompanyDataset(Total_Employee_Estimate)
Created index: idx_companyclassification_category on CompanyClassification(Category)
Created index: idx_companyclassification_companyname on CompanyClassification(CompanyName)
Created index: idx_companyclassification_website on CompanyClassification(Website)

In [13]:
indexes = pd.DataFrame(db.run_query(conn,"PRAGMA index_list(CompanyDataset);"))
indexes

   0                                             1  2  3  4
0  0    idx_companydataset_total_employee_estimate  0  c  0
1  1  idx_companydataset_current_employee_estimate  0  c  0
2  2                    idx_companydataset_country  0  c  0
3  3                 idx_companydataset_size_range  0  c  0
4  4                   idx_companydataset_industry  0  c  0
5  5                    idx_companydataset_website  0  c  0
6  6                idx_companydataset_companyname  0  c  0
7  7                 idx_companydataset_company_id  0  c  0

In [7]:
# check that indexes have optimized queries
print(db.time_query(conn, "SELECT count(*) FROM CompanyDataset"))
print(db.time_query(conn, "SELECT count(*) FROM CompanyClassification"))

(0.07013940811157227, [(7173426,)])
(0.002001047134399414, [(73974,)])

# EDA

In [24]:
df_hp = pd.read_sql_query( "SELECT * from CompanyDataset as cd WHERE CompanyName='hewlett-packard'",conn)
df_hp

,Company_ID,CompanyName,Website,Year_Founded,Industry,Size_Range,Locality,Country,Linkedin_URL,Current_Employee_Estimate,Total_Employee_Estimate
0,3844889,hewlett-packard,hpe.com,1939.0,information technology and services,10001+,"palo alto, california, united states",united states,linkedin.com/company/hewlett-packard-enterprise,127952,412952
1,1428341,hewlett-packard,ngppr.ru,NaN,real estate,201 - 500,None,None,linkedin.com/company/нгппр,93,707
2,5805348,hewlett-packard,None,NaN,facilities services,51 - 200,"glendale, california, united states",united states,linkedin.com/company/h-and-p-inc-,39,136
3,6195736,hewlett-packard,globalsoftuk.com,NaN,information technology and services,1 - 10,"didcot, oxfordshire, united kingdom",united kingdom,linkedin.com/company/globalsoft-uk-ltd,0,4

In [50]:
df_ibm = pd.read_sql_query( "SELECT * from CompanyDataset as cd WHERE CompanyName='ibm'",conn)
df_ibm

,Company_ID,CompanyName,Website,Year_Founded,Industry,Size_Range,Locality,Country,Linkedin_URL,Current_Employee_Estimate,Total_Employee_Estimate
0,5872184,ibm,ibm.com,1911.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/ibm,274047,716906
1,1537496,ibm,None,NaN,information technology and services,501 - 1000,None,None,linkedin.com/company/global-value,280,931
2,6903843,ibm,None,1912.0,information technology and services,11 - 50,None,None,linkedin.com/company/ibm-united-kingdom-ltd,7,50
3,2567154,ibm,None,1914.0,information technology and services,1 - 10,"colombes, ile-de-france, france",france,linkedin.com/company/ibm-france,3,8
4,939747,ibm,mcgeemarketingconsultants.com,NaN,computer software,1 - 10,None,None,linkedin.com/company/mindflow,2,6
5,5479744,ibm,ezsource.com,2003.0,computer software,1 - 10,"mevo modi`im, hamerkaz, israel",israel,linkedin.com/company/ezlegacy,1,12
6,5733310,ibm,None,NaN,None,1 - 10,None,None,linkedin.com/company/ibmdaf,0,1
7,2519019,ibm,ibmconsult.com,2012.0,marketing and advertising,1 - 10,None,None,linkedin.com/company/ibmconsult-com,0,2
8,6161271,ibm,None,NaN,None,1 - 10,None,None,linkedin.com/company/fiokware,0,1

In [25]:
company_dataset['diff'] = company_dataset['total employee estimate'] - company_dataset['current employee estimate']

In [23]:
company_dataset.sort_values(by='diff', ascending=False).head()

,Unnamed: 0,CompanyName,Website,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate,diff
0,5872184,ibm,ibm.com,1911.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/ibm,274047,716906,442859
5,3844889,hewlett-packard,hpe.com,1939.0,information technology and services,10001+,"palo alto, california, united states",united states,linkedin.com/company/hewlett-packard-enterprise,127952,412952,285000
3,2309813,us army,goarmy.com,1800.0,military,10001+,"alexandria, virginia, united states",united states,linkedin.com/company/us-army,162163,445958,283795
4,1558607,ey,ey.com,1989.0,accounting,10001+,"london, greater london, united kingdom",united kingdom,linkedin.com/company/ernstandyoung,158363,428960,270597
11,2780814,pwc,pwc.com,1998.0,accounting,10001+,"new york, new york, united states",united states,linkedin.com/company/pwc,111372,379447,268075

In [27]:
company_dataset['size range'].unique()

array(['10001+', '5001 - 10000', '1001 - 5000', '501 - 1000', '201 - 500',
       '51 - 200', '11 - 50', '1 - 10'], dtype=object)

# Query Questions

## Output results to excel files under output folder

In [43]:
# def query_to_excel(conn, output_dir, query, output_filename='query_results.xlsx'):
#     """
#     Runs a query on the SQLite database and saves the results to an Excel file in the output folder.
    
#     Parameters:
#     - conn: str, created from connect_to_db function
#     - output_dir: str, path to output file directory
#     - query: str, the SQL query to run.
#     - output_filename: str, the filename for the output Excel file (default is 'query_results.xlsx').
    
#     Returns:
#     - str, path to the saved Excel file.
#     """
#     # Construct the path to the output folder
#     # base_dir = os.path.abspath(os.path.join(os.path.dirname(__file__), '..'))
#     # output_dir = os.path.join(base_dir, 'output')
#     # print(output_dir)
    
#     # Run the query and fetch the result into a DataFrame
#     df = pd.read_sql_query(query, conn)
    
#     # Ensure the output folder exists
#     os.makedirs(output_dir, exist_ok=True)
    
#     # Construct the full path for the output Excel file
#     output_path = os.path.join(output_dir, output_filename)
    
#     # Write the DataFrame to an Excel file
#     df.to_excel(output_path, index=False)
    
#     print(f"Query results successfully saved to: {output_path}")
#     return output_path

## Find the top 10 industries with the highest average number of employees

** only considering companies founded after 2000 that more than 10 employees

Data has multiple rows per company, suggesting each row could represent a different location entity of the corporation. 

Note - need to confirm if the top 10 are by current or total employee count

In [39]:
df_industry= pd.read_sql_query( '''
                                    SELECT 
                                        cd.Industry
                                        ,AVG(cd.Current_Employee_Estimate)      as 'AVG_Current_Employee'
                                        ,AVG(cd.Total_Employee_Estimate)        as 'AVG_Total_Employee'
                                    FROM CompanyDataset as cd
                                    WHERE cd.Year_Founded > 2000
                                    AND cd.'Size_Range' <> '1 - 10'
                                    GROUP BY cd.Industry
                                    ORDER BY 3 desc
                                    LIMIT 10
                           ''',conn)
df_industry

                    Industry  AVG_Current_Employee  AVG_Total_Employee
0                    tobacco            368.017241          906.913793
1  government administration            132.592317          257.164564
2                    banking            104.675101          208.695850
3               supermarkets             86.938462          207.730769
4                      dairy            103.022222          206.044444
5         legislative office             48.043478          164.086957
6             semiconductors             63.942731          157.331498
7            defense & space             68.672566          151.281416
8          airlines/aviation             67.569304          126.086258
9         telecommunications             54.691710          125.991436

In [47]:
top_total_query = '''
            SELECT 
                cd.Industry
                ,AVG(cd.Current_Employee_Estimate)      as 'AVG_Current_Employee'
                ,AVG(cd.Total_Employee_Estimate)        as 'AVG_Total_Employee'
            FROM CompanyDataset as cd
            WHERE cd.Year_Founded > 2000
            AND cd.Size_Range <> '1 - 10'
            GROUP BY cd.Industry
            ORDER BY 3 desc
            LIMIT 10
        '''
output_dir = 'C:/Users/megan/OneDrive/Documents/GitHub/sqlite_to_analysis_app/output'
query_to_excel(conn, output_dir, top_total_query, output_filename='top_industries_by_total_avg_employees.xlsx')

Query results successfully saved to: C:/Users/megan/OneDrive/Documents/GitHub/sqlite_to_analysis_app/output\top_industries_by_total_avg_employees.xlsx

'C:/Users/megan/OneDrive/Documents/GitHub/sqlite_to_analysis_app/output\\top_industries_by_total_avg_employees.xlsx'

In [34]:
# df_industry.sort_values(by='AVG_Current_Employee', ascending=False)
df_industry.nlargest(10,'AVG_Current_Employee')

                    Industry  AVG_Current_Employee  AVG_Total_Employee
0                    tobacco            368.017241          906.913793
1  government administration            132.592317          257.164564
2                    banking            104.675101          208.695850
4                      dairy            103.022222          206.044444
3               supermarkets             86.938462          207.730769
7            defense & space             68.672566          151.281416
8          airlines/aviation             67.569304          126.086258
6             semiconductors             63.942731          157.331498
9         telecommunications             54.691710          125.991436
5         legislative office             48.043478          164.086957

## Identify companies in the Technology-like industries 
- limit to companies that do not have an effective homepage_text AND less than 100 employees
- "effective" homepage_text cannot be null and must have at least 50 words
--> I found that 669 websites had no homepage text and most cases have between 200-400 words. 

Because there are only text fields in common between the two tables CompanyDataset and CompanyClassification, I first tested merging the two datasets on 'Website' as a key. 

This results in 322 cases where the CompanyName did not match between the tables. On deeper inspection this appears to be because of character differences (UNICODE, punctuation, etc.). I could clean the CompanyNames on the join clause so that I use both fields as my join criteria. However, I'm satisfied that website can be used as a unique key here

In [89]:
# show companies that DO NOT have an effective homepage AND have less than 100 employees within the Technology-like industry

df_tech = pd.read_sql_query( '''
                                SELECT DISTINCT
                                    cc.Category
                                    ,cd.Industry
                                    ,cd.CompanyName
                                    --,cd.Website
                                    --,cc.homepage_text
                                FROM CompanyDataset as cd
                                LEFT JOIN CompanyClassification as cc
                                    ON cd.Website=cc.Website
                                    and cc.Website is not null
                                WHERE cd.Website is not null
                                and cd.CompanyName is not null
                                and cd.Total_Employee_Estimate < 100
                                and cc.homepage_text is null
                                and cc.Category like '%technology%'
                            ''',conn)

df_tech

,Category,Industry,CompanyName
0,Information Technology,information technology and services,itrend business solutions cc
1,Information Technology,computer software,real control solutions ltd
2,Information Technology,computer software,elite value solutions
3,Information Technology,information technology and services,risen solutions
4,Information Technology,information technology and services,wireless 1 apps inc.
5,Information Technology,information technology and services,kuplasolutions
6,Information Technology,information technology and services,w3cloud llc
7,Information Technology,information technology and services,cdn tech solutions
8,Information Technology,computer software,datum global solutions
9,Information Technology,computer software,cloudstream
10,Information Technology,wireless,free space wireless
11,Information Technology,information technology and services,compudev solutions
12,Information Technology,information technology and services,ccw web building solutions (closed)
13,Information Technology,computer software,"sigint software, llc"
14,Information Technology,information technology and services,targeted sales solutions
15,Information Technology,computer software,edzetek it solutions
16,Information Technology,computer networking,the computer consultants
17,Information Technology,information technology and services,elogitech solutions
18,Information Technology,computer software,techastro business solutions pvt. ltd.
19,Information Technology,computer software,acr computers
20,Information Technology,information technology and services,boomzip cloud solutions
21,Information Technology,computer hardware,computer renaissance of bel air
22,Information Technology,information technology and services,expand learning solutions
23,Information Technology,computer networking,router solutions inc
24,Information Technology,computer software,ideal web solutions
25,Information Technology,information technology and services,dimidium solutions inc.
26,Information Technology,computer networking,"sequoia solutions, inc."
27,Information Technology,computer software,cloud parity inc
28,Information Technology,information technology and services,blubridge solutions inc
29,Information Technology,information technology and services,information services usa
30,Information Technology,computer software,star business solution
31,Information Technology,computer software,keymedical software
32,Information Technology,computer software,ardent solutions limited
33,Information Technology,information technology and services,cloud my office
34,Information Technology,information technology and services,tenderfield construction software
35,Information Technology,information technology and services,smartphone software inc.
36,Information Technology,computer software,"ffd, inc. (sequence & lockstep software)"
37,Information Technology,information technology and services,kineta software
38,Information Technology,information technology and services,midwest design computers
39,Information Technology,information technology and services,tech4sys software solutions
40,Information Technology,computer software,uvacha software solutions pvt ltd
41,Information Technology,computer software,replay solutions
42,Information Technology,information technology and services,microtop computer co. llc
43,Information Technology,computer software,gridiron software
44,Information Technology,information technology and services,fortech software inc.
45,Information Technology,wireless,"syringa wireless, llc"
46,Information Technology,information technology and services,techsys business solutions
47,Information Technology,information technology and services,"global commerce & information, inc. (global ci)"
48,Information Technology,telecommunications,achariya techno solutions india pvt ltd

In [10]:
# read tables into pandas dataframe with new column names
company_dataset = pd.read_sql_query("SELECT * FROM CompanyDataset",conn)
company_classification = pd.read_sql_query("SELECT * FROM CompanyClassification",conn)

In [50]:
print("Number of rows with empty homepage text:", len(company_classification.loc[company_classification['homepage_text'].isna()]))
print(len(company_dataset))
print("Number of companies with less than 100 total employees:", len(company_dataset.loc[company_dataset['Total_Employee_Estimate']<100]))
print("Number of companies with less than 100 current employees:", len(company_dataset.loc[company_dataset['Current_Employee_Estimate']<100]))

Number of rows with empty homepage text: 669
7173426
Number of companies with less than 100 employees: 6925840
Number of companies with less than 100 employees: 7062530

In [72]:
company_classification['Category'].unique()

array(['Commercial Services & Supplies', 'Healthcare', 'Materials',
       'Financials', 'Energy & Utilities', 'Professional Services',
       'Corporate Services', 'Media, Marketing & Sales',
       'Information Technology', 'Consumer Discretionary', 'Industrials',
       'Transportation & Logistics', 'Consumer Staples'], dtype=object)

## Rank companies within each country by their total employee estimate
- descending order by total employee estimate
- show only companies that rank in the top 5 per country

In [48]:
df_top5 = pd.read_sql_query( '''
                                with country_rank as (SELECT 
                                                        cd.Country
                                                        ,cd.CompanyName
                                                        ,cd.Total_Employee_Estimate
                                                        ,row_number() over( partition by cd.Country order by cd.Total_Employee_Estimate desc)   RowNum
                                                    FROM CompanyDataset as cd
                                                    WHERE cd.Country is not null
                                                    and cd.CompanyName is not null
                                                    )
                            SELECT *
                            FROM country_rank 
                            where RowNum <6
                                                        
                            ''',conn)

df_top5

,Country,CompanyName,Total_Employee_Estimate,RowNum
0,afghanistan,roshan,986,1
1,afghanistan,awcc,823,2
2,afghanistan,etisalat afghanistan,818,3
3,afghanistan,"ministry of agriculture, irrigation and livestock",508,4
4,afghanistan,mtn afghanistan,423,5
...,...,...,...,...
1144,Åland islands,crosskey banking solutions,277,1
1145,Åland islands,ålands landskapsregering,196,2
1146,Åland islands,rederiaktiebolaget eckerö,116,3
1147,Åland islands,posten åland,94,4
1148,Åland islands,åland university of applied sciences,76,5

In [49]:
top5_country = '''
                with country_rank as (SELECT 
                                        cd.Country
                                        ,cd.CompanyName
                                        ,cd.Total_Employee_Estimate
                                        ,row_number() over( partition by cd.Country order by cd.Total_Employee_Estimate desc)   RowNum
                                    FROM CompanyDataset as cd
                                    WHERE cd.Country is not null
                                    and cd.CompanyName is not null
                                    )
                SELECT *
                FROM country_rank 
                where RowNum <6                       
                '''
db.run_query(conn, top5_country)

[('afghanistan', 'roshan', 986, 1),
 ('afghanistan', 'awcc', 823, 2),
 ('afghanistan', 'etisalat afghanistan', 818, 3),
 ('afghanistan', 'ministry of agriculture, irrigation and livestock', 508, 4),
 ('afghanistan', 'mtn afghanistan', 423, 5),
 ('albania', 'albtelecom albania', 892, 1),
 ('albania', 'raiffeisen bank albania', 779, 2),
 ('albania', 'telekom albania', 671, 3),
 ('albania', 'intesa sanpaolo bank albania', 447, 4),
 ('albania', 'national food authority', 399, 5),
 ('algeria', 'sonatrach', 17062, 1),
 ('algeria', 'algerie telecom', 3017, 2),
 ('algeria', 'ooredoo algérie', 2318, 3),
 ('algeria', 'groupe cevital', 2298, 4),
 ('algeria', 'naftal spa', 1879, 5),
 ('american samoa', 'american samoa government', 268, 1),
 ('american samoa', 'blue sky communications', 96, 2),
 ('american samoa', 'american samoa community college', 32, 3),
 ('american samoa', 'genexy company limited', 6, 4),
 ('american samoa', 'rda law firm', 3, 5),
 ('andorra', 'crèdit andorrà', 472, 1),
 ('andorra', 'banca privada andorra', 444, 2),
 ('andorra', "govern d'andorra", 350, 3),
 ('andorra', 'morabanc', 227, 4),
 ('andorra', 'andorra telecom', 196, 5),
 ('angola', 'unitel', 1641, 1),
 ('angola', 'bfa', 869, 2),
 ('angola', 'angola lng', 817, 3),
 ('angola', 'ucall angola', 517, 4),
 ('angola', 'bai - banco angolano de investimentos, s.a.', 487, 5),
 ('anguilla', 'government of anguilla', 124, 1),
 ('anguilla', 'anguilla electricity company limited (anglec)', 30, 2),
 ('anguilla', 'rally trade', 26, 3),
 ('anguilla', 'keithley lake & associates', 18, 4),
 ('anguilla', 'department of youth and culture (anguilla)', 6, 5),
 ('antigua and barbuda', 'kpmg eastern caribbean', 11, 1),
 ('antigua and barbuda', 'caribbean developments (antigua) ltd.', 10, 2),
 ('antigua and barbuda', 'curtain bluff resort', 7, 3),
 ('antigua and barbuda', 'directorate of gender affairs', 5, 4),
 ('antigua and barbuda', 'absolute poker', 5, 5),
 ('argentina', 'gobierno de la ciudad de buenos aires', 11837, 1),
 ('argentina', 'universidad de buenos aires', 10934, 2),
 ('argentina', 'ypf s.a.', 10875, 3),
 ('argentina', 'globant', 9689, 4),
 ('argentina', 'estudio juridico', 7824, 5),
 ('armenia', 'yerevan state university', 963, 1),
 ('armenia', 'central bank of armenia', 650, 2),
 ('armenia', 'orange armenia', 581, 3),
 ('armenia', 'american university of armenia', 502, 4),
 ('armenia', 'ucom llc', 499, 5),
 ('aruba', 'setar nv', 222, 1),
 ('aruba', 'aruba bank n.v.', 198, 2),
 ('aruba', 'aruba tourism authority', 179, 3),
 ('aruba', 'caribbean mercantile bank n.v.', 113, 4),
 ('aruba', 'sf', 97, 5),
 ('australia', 'anz', 62120, 1),
 ('australia', 'fujitsu', 54138, 2),
 ('australia', 'telstra', 49199, 3),
 ('australia', 'commonwealth bank', 43277, 4),
 ('australia', 'national australia bank', 41910, 5),
 ('austria', 'red bull', 28990, 1),
 ('austria', 'omv', 8767, 2),
 ('austria', 'andritz', 8255, 3),
 ('austria', 'benteler automotive', 7256, 4),
 ('austria', 'strabag', 6409, 5),
 ('azerbaijan', 'baku 2015 european games operation committee', 1833, 1),
 ('azerbaijan',
  'state oil company of the republic of azerbaijan (socar)',
  1712,
  2),
 ('azerbaijan', 'azercell', 1178, 3),
 ('azerbaijan', 'azersun holding', 1162, 4),
 ('azerbaijan', 'bakcell', 867, 5),
 ('bahamas', 'bahamas telecommunications company ltd.', 701, 1),
 ('bahamas', 'baha mar', 588, 2),
 ('bahamas', 'akelius residential', 427, 3),
 ('bahamas', 'doctors hospital', 382, 4),
 ('bahamas', 'unique vacations, ltd.', 349, 5),
 ('bahrain', 'gulf air', 4054, 1),
 ('bahrain', 'bank abc (arab banking corporation b.s.c)', 1791, 2),
 ('bahrain', 'gulf international bank', 1468, 3),
 ('bahrain', 'jawad business group', 1456, 4),
 ('bahrain', 'batelco', 1286, 5),
 ('bangladesh', 'grameenphone ltd', 7819, 1),
 ('bangladesh', 'banglalink', 3644, 2),
 ('bangladesh', 'robi axiata limited', 3543, 3),
 ('bangladesh', 'brac', 2983, 4),
 ('bangladesh', 'pran-rfl group', 2334, 5),
 ('barbados', 'kpmg in barbados', 116, 1),
 ('barbados', 'lex caribbean', 111, 2),
 ('barbados', 'barbados tourism authority', 95, 3),
 ('barbados', 'seaco', 93, 4),
 ('barbados', 'terra caribbean', 86, 5),
 ('belarus', 'iba group', 1200, 1),
 ('belarus', 'incom', 1099, 2),
 ('belarus', 'unitary enterprise velcom (velcom & privet)', 744, 3),
 ('belarus', 'issoft', 520, 4),
 ('belarus', 'andersen', 388, 5),
 ('belgium', 'european commission', 42726, 1),
 ('belgium', 'anheuser-busch inbev', 26419, 2),
 ('belgium', 'solvay', 24215, 3),
 ('belgium', 'bnp paribas fortis', 21640, 4),
 ('belgium', 'european parliament', 20559, 5),
 ('belize', 'telemedia', 523, 1),
 ('belize', 'university of belize', 412, 2),
 ('belize', 'bowen & bowen, ltd.', 67, 3),
 ('belize', 'hillside health care international', 58, 4),
 ('belize', 'beltraide', 55, 5),
 ('benin', 'eurial', 592, 1),
 ('benin',
  'direction générale du trésor et de la comptabilité publique',
  459,
  2),
 ('benin', 'mtn benin', 424, 3),
 ('benin', "l'école de design nantes atlantique", 378, 4),
 ('benin', 'vif', 233, 5),
 ('bermuda', 'xl catlin', 8792, 1),
 ('bermuda', 'lazard', 6355, 2),
 ('bermuda', 'signet', 3929, 3),
 ('bermuda', 'hiscox', 3171, 4),
 ('bermuda', 'wilson sons', 2762, 5),
 ('bhutan', 'tourism', 826, 1),
 ('bhutan', 'druk green', 124, 2),
 ('bhutan', 'druk holding & investments', 78, 3),
 ('bhutan', 'tourism council of bhutan', 54, 4),
 ('bhutan', 'drukair corporation ltd.', 50, 5),
 ('bolivia', 'ypfb corporacion', 744, 1),
 ('bolivia', 'entel bolivia', 693, 2),
 ('bolivia', 'nuevatel', 641, 3),
 ('bolivia', 'ypfb transporte s.a.', 509, 4),
 ('bolivia', 'gobierno autónomo departamental de santa cruz', 450, 5),
 ('bosnia and herzegovina', 'bh telecom d.d. sarajevo', 532, 1),
 ('bosnia and herzegovina', 'raiffeisen bank dd bih', 465, 2),
 ('bosnia and herzegovina', 'energoinvest', 379, 3),
 ('bosnia and herzegovina', 'office of the high representative', 320, 4),
 ('bosnia and herzegovina', 'telekom srpske', 300, 5),
 ('botswana', 'bancabc', 937, 1),
 ('botswana', 'water utilities corporation', 828, 2),
 ('botswana', 'botswana telecommunications corporation (btc)', 774, 3),
 ('botswana', 'first national bank of botswana limited', 747, 4),
 ('botswana', 'mascom wireless', 380, 5),
 ('brazil', 'itaú unibanco', 53270, 1),
 ('brazil', 'petrobras', 51919, 2),
 ('brazil', 'vale', 44516, 3),
 ('brazil', 'bradesco', 39194, 4),
 ('brazil', 'caixa economica federal', 32283, 5),
 ('british virgin islands',
  'bahia specialty cellulose ( sateri iternational group )',
  569,
  1),
 ('british virgin islands', 'iforex', 485, 2),
 ('british virgin islands', 'latcapital solutions', 459, 3),
 ('british virgin islands', 'harneys', 439, 4),
 ('british virgin islands', 'ek success', 314, 5),
 ('brunei', 'kfc (b) sdn bhd', 1664, 1),
 ('brunei', 'royal brunei airlines', 795, 2),
 ('brunei', 'dst', 332, 3),
 ('brunei', 'ubd', 318, 4),
 ('brunei', 'petrokon utama sdn bhd', 300, 5),
 ('bulgaria', 'mobiltel', 2937, 1),
 ('bulgaria', 'vivacom', 2487, 2),
 ('bulgaria', 'unicredit bulbank', 2205, 3),
 ('bulgaria', 'telus international europe', 1355, 4),
 ('bulgaria', 'raiffeisen bank - bulgaria', 1298, 5),
 ('burkina faso', 'onatel', 375, 1),
 ('burkina faso',
  "2ie - institut international d'ingénierie de l'eau et de l'environnement",
  309,
  2),
 ('burkina faso', 'initiatives conseil international', 131, 3),
 ('burkina faso', 'international school of ouagadougou', 94, 4),
 ('burkina faso', 'softnet burkina', 80, 5),
 ('burundi', 'smart east africa', 88, 1),
 ('burundi', 'brasseries et limonaderies du burundi brarudi s.a.', 49, 2),
 ('burundi', 'burundi backbone systems', 28, 3),
 ('burundi', '-independent consultant-', 17, 4),
 ('burundi', 'scad', 12, 5),
 ('cambodia', 'nagaworld', 607, 1),
 ('cambodia', 'acleda bank', 598, 2),
 ('cambodia', 'smart axiata', 548, 3),
 ('cambodia', 'camgsm company limited (mobitel)', 455, 4),
 ('cambodia', 'ministry of commerce', 445, 5),
 ('cameroon', 'mtn cameroon', 1502, 1),
 ('cameroon', 'orange cameroun', 1154, 2),
 ('cameroon', 'ocean park corporation', 652, 3),
 ('cameroon', 'ccaa', 648, 4),
 ('cameroon', 'camair-co', 346, 5),
 ('canada', 'td', 93645, 1),
 ('canada', 'cgi', 74922, 2),
 ('canada', 'scotiabank', 65086, 3),
 ('canada', 'rbc', 60194, 4),
 ('canada', 'nortel', 52349, 5),
 ('cape verde',
  'nosi - nucleo operacional da sociedade de informacao',
  141,
  1),
 ('cape verde', 'tacv - cape verde airlines', 83, 2),
 ('cape verde', 'language link', 74, 3),
 ('cape verde', 'enacol', 61, 4),
 ('cape verde', 'dgci- direcção geral das contribuições e impostos', 54, 5),
 ('caribbean netherlands', 'stinapa bonaire', 36, 1),
 ('caribbean netherlands', 'telefonia bonairiano n.v.', 21, 2),
 ('caribbean netherlands', 'water- en energiebedrijf bonaire n.v.', 17, 3),
 ('caribbean netherlands', 'openbaar lichaam bonaire', 13, 4),
 ('caribbean netherlands', 'dutch caribbean nature alliance', 12, 5),
 ('cayman islands', 'ooredoo qatar', 2672, 1),
 ('cayman islands', 'maples and calder', 1111, 2),
 ('cayman islands', 'minera chinalco perú s.a.', 935, 3),
 ('cayman islands', 'theatre', 922, 4),
 ('cayman islands', 'walkers', 873, 5),
 ('central african republic', 'telecel centrafrique sa', 25, 1),
 ('central african republic', 'millenium telecom centrafrique s.a.', 8, 2),
 ('central african republic', 'sucaf rca', 8, 3),
 ('central african republic', 'societe sefca', 4, 4),
 ('chad', 'compagnie sucrière du tchad (cst)', 31, 1),
 ('chad', 'global logistics services limited (gls)', 11, 2),
 ('chad', 'hotel la mirande tchad', 6, 3),
 ('chad', 'web tchad', 6, 4),
 ('chad', 'societe des telecommunications du tchad', 5, 5),
 ('chile', 'cencosud s.a.', 16697, 1),
 ('chile', 'sonda', 15488, 2),
 ('chile', 'lan airlines', 13750, 3),
 ('chile', 'pontificia universidad católica de chile', 13520, 4),
 ('chile', 'entel', 11411, 5),
 ('china', 'huawei technologies', 113434, 1),
 ('china', 'tencent', 42617, 2),
 ('china', 'zte', 23550, 3),
 ('china', 'bank of china', 16873, 4),
 ('china', 'baidu inc.', 13458, 5),
 ('colombia', 'sena', 18739, 1),
 ('colombia', 'universidad nacional de colombia', 13318, 2),
 ('colombia', 'universidad de los andes', 9491, 3),
 ('colombia', 'university of puerto rico', 8242, 4),
 ('colombia', 'ecopetrol', 8134, 5),
 ('comoros', 'bcg ltd.', 13, 1),
 ('comoros', 'dahari', 8, 2),
 ('comoros', 'banque federale de commerce', 6, 3),
 ('comoros', 'ecdd comores', 6, 4),
 ('comoros', 'star account', 4, 5),
 ('cook islands', 'pacific resort hotel group - cook islands', 108, 1),
 ('cook islands',
  'cook island networking entertainment & multimedia associates (c.i.n.e.m.a.)',
  68,
  2),
 ('cook islands', 'the rarotongan beach resort & spa', 66, 3),
 ('cook islands', 'telecom cook islands', 63, 4),
 ('cook islands',
  'cook islands ministry of finance and economic management',
  42,
  5),
 ('costa rica', 'universidad de costa rica', 5023, 1),
 ('costa rica', 'banco nacional', 1971, 2),
 ('costa rica', 'una', 1730, 3),
 ('costa rica', 'poder judicial costa rica', 1100, 4),
 ('costa rica', 'gbm corporation', 1098, 5),
 ('croatia', 'hrvatski telekom', 2969, 1),
 ('croatia', 'ina - industrija nafte, d.d.', 2561, 2),
 ('croatia', 'pliva', 2112, 3),
 ('croatia', 'vipnet d.o.o.', 1947, 4),
 ('croatia', 'zagrebačka banka', 1712, 5),
 ('cuba', 'universidad de la habana', 1052, 1),
 ('cuba', 'uclv', 708, 2),
 ('cuba', 'melia hotels international cuba', 407, 3),
 ('cuba', 'datys', 200, 4),
 ('cuba', 'joven club de computación y electrónica', 192, 5),
 ('curaçao', 'bluewater energy services', 1652, 1),
 ('curaçao', 'q8 kpnwe', 715, 2),
 ('curaçao', 'keppel verolme', 434, 3),
 ('curaçao', 'business lease', 404, 4),
 ('curaçao', 'seatrade', 396, 5),
 ('cyprus', 'wargaming.net', 3443, 1),
 ('cyprus', 'bank of cyprus', 2962, 2),
 ('cyprus', 'bernhard schulte shipmanagement', 2608, 3),
 ('cyprus', 'university of cyprus', 1927, 4),
 ('cyprus', 'emu', 1910, 5),
 ('czechia', 'private', 21432, 1),
 ('czechia', 'geen', 11722, 2),
 ('czechia', 'česká spořitelna, a.s.', 6596, 3),
 ('czechia', 'csob', 4837, 4),
 ('czechia', 'o2 czech republic', 4707, 5),
 ('côte d’ivoire', "orange côte d'ivoire", 1029, 1),
 ('côte d’ivoire', 'société ivoirienne de banque', 343, 2),
 ('côte d’ivoire', "jumia côte d'ivoire", 253, 3),
 ('côte d’ivoire', 'groupe sifca', 230, 4),
 ('côte d’ivoire', 'sania cie', 219, 5),
 ('democratic republic of the congo', 'kamoto copper company sarl', 386, 1),
 ('democratic republic of the congo', 'rawbank', 380, 2),
 ('democratic republic of the congo', 'vodacom congo (rdc) s.a', 323, 3),
 ('democratic republic of the congo', 'trust merchant bank', 278, 4),
 ('democratic republic of the congo',
  'tenke fungurume mining s.a.r.l.',
  271,
  5),
 ('denmark', 'danske bank', 22372, 1),
 ('denmark', 'maersk line', 22012, 2),
 ('denmark', 'vestas', 18230, 3),
 ('denmark', 'aarhus university', 16556, 4),
 ('denmark', 'ramboll', 16307, 5),
 ('djibouti', 'lutheran world federation', 173, 1),
 ('djibouti', 'sheraton hotel djibouti', 43, 2),
 ('djibouti', 'port of djibouti', 41, 3),
 ('djibouti', 'dahabshil bank international', 32, 4),
 ('djibouti', 'massida logistics', 31, 5),
 ('dominica', 'ross university school of medicine', 985, 1),
 ('dominica', 'dominica electricity services ltd', 23, 2),
 ('dominica', 'jungle bay dominica', 14, 3),
 ('dominica', 'evenforex.com', 12, 4),
 ('dominica', 'invest dominica authority', 11, 5),
 ('dominican republic', 'banco popular dominicano', 2311, 1),
 ('dominican republic', 'claro rd', 2093, 2),
 ('dominican republic',
  'ministerio de educacion de la republica dominican',
  1350,
  3),
 ('dominican republic', 'banreservas', 1231, 4),
 ('dominican republic', 'orange dominicana', 1146, 5),
 ('ecuador', 'banco pichincha', 2170, 1),
 ('ecuador', 'banco del estado', 2009, 2),
 ('ecuador', 'pronaca', 1691, 3),
 ('ecuador', 'universidad san francisco de quito', 1619, 4),
 ('ecuador', 'universidad central del ecuador', 1567, 5),
 ('egypt', 'mobinil', 7449, 1),
 ('egypt', 'cairo university', 6015, 2),
 ('egypt', 'american university in cairo', 5494, 3),
 ('egypt', 'cib egypt', 4866, 4),
 ('egypt', 'orascom construction industries (oci)', 4844, 5),
 ('el salvador', 'taca', 1794, 1),
 ('el salvador', 'almacenes siman', 1053, 2),
 ('el salvador', 'banco agricola', 1011, 3),
 ('el salvador', 'universidad de el salvador', 978, 4),
 ('el salvador', 'grupo roble', 522, 5),
 ('equatorial guinea', 'ministerio de cultura', 1293, 1),
 ('equatorial guinea',
  'ministerio de transportes y telecomunicaciones',
  1101,
  2),
 ('equatorial guinea', 'somagec ge', 265, 3),
 ('equatorial guinea', 'centro medico la paz', 68, 4),
 ('equatorial guinea', 'banco nacional de guinea ecuatorial', 36, 5),
 ('eritrea', 'zara mining share company', 60, 1),
 ('eritrea', 'orange asmara it solutions', 4, 2),
 ('eritrea', 'unilink s.c.', 2, 3),
 ('eritrea', 'asmara rental', 1, 4),
 ('estonia', 'hotmail', 2790, 1),
 ('estonia', 'university of tartu', 2282, 2),
 ('estonia', 'infosys ltd.', 2045, 3),
 ('estonia', 'good deed foundation', 1558, 4),
 ('estonia', 'tallinn university of technology', 1491, 5),
 ('ethiopia', 'ethiopian airlines', 3329, 1),
 ('ethiopia', 'addis ababa university', 2481, 2),
 ('ethiopia', 'mekelle university', 1337, 3),
 ('ethiopia', 'african union commission, addis ababa', 1335, 4),
 ('ethiopia', 'united nations economic commission for africa', 924, 5),
 ('faroe islands', 'eik bank', 227, 1),
 ('faroe islands', 'p/f smyril line', 154, 2),
 ('faroe islands', 'faroese telecom', 141, 3),
 ('faroe islands', 'ministry of fisheries', 128, 4),
 ('faroe islands', 'landsverk', 79, 5),
 ('fiji', 'university of the south pacific', 2586, 1),
 ('fiji', 'nesma & partners', 2450, 2),
 ('fiji', 'saad specialist hospital', 2172, 3),
 ('fiji', 'zamil steel', 1939, 4),
 ('fiji', 'saudi business machines - sbm', 1663, 5),
 ('finland', 'nokia', 251795, 1),
 ('finland', 'tieto', 21221, 2),
 ('finland', 'kone', 16946, 3),
 ('finland', 'metso', 14891, 4),
 ('finland', 'wärtsilä', 11958, 5),
 ('france', 'capgemini', 203525, 1),
 ('france', "l'oréal", 107296, 2),
 ('france', 'bnp paribas', 101571, 3),
 ('france', 'education nationale', 101083, 4),
 ('france', 'sanofi', 99940, 5),
 ('french guiana', 'rectorat de la guyane', 297, 1),
 ('french guiana', 'atlas voyages', 226, 2),
 ('french guiana', 'k2 design', 21, 3),
 ('french guiana', 'gestimmo', 17, 4),
 ('french guiana', 'rexma', 16, 5),
 ('french polynesia', 'le meridien', 1374, 1),
 ('french polynesia', 'air tahiti nui', 424, 2),
 ('french polynesia', 'la vie en bleu', 419, 3),
 ('french polynesia', 'tahiti tourisme', 108, 4),
 ('french polynesia', 'tahiti nui travel', 106, 5),
 ('gabon', 'heliatec', 140, 1),
 ('gabon',
  'agence nationale des infrastructures numériques et des fréquences (aninf)',
  97,
  2),
 ('gabon', 'gabon telecom s.a.', 97, 3),
 ('gabon', 'perenco gabon sa', 85, 4),
 ('gabon', 'gabon oil company (goc)', 79, 5),
 ('gambia', 'university of the gambia', 333, 1),
 ('gambia', 'coco ocean resort & spa', 77, 2),
 ('gambia', 'pristine consulting (gambia)', 40, 3),
 ('gambia',
  'institute for human rights and development in africa (ihrda)',
  29,
  4),
 ('gambia', 'mfh group', 27, 5),
 ('georgia', 'tbc bank', 2000, 1),
 ('georgia', 'bank of georgia', 1770, 2),
 ('georgia', 'ilia state university', 1058, 3),
 ('georgia', 'bank republic societe generale group', 954, 4),
 ('georgia', 'ivane javakhishvili tbilisi state university', 877, 5),
 ('germany', 'siemens', 240528, 1),
 ('germany', 'deutsche bank', 118832, 2),
 ('germany', 'dhl', 111977, 3),
 ('germany', 'basf', 64209, 4),
 ('germany', 'continental', 53657, 5),
 ('ghana', 'university of ghana legon', 2178, 1),
 ('ghana',
  'kwame nkrumah university of science & technology, kumasi',
  2083,
  2),
 ('ghana', 'komfo anokye teaching hospital', 1002, 3),
 ('ghana', 'gcb bank limited', 854, 4),
 ('ghana', 'mantrac ghana limited', 772, 5),
 ('gibraltar', 'bwin.party digital entertainment', 3067, 1),
 ('gibraltar', 'betvictor', 856, 2),
 ('gibraltar', 'mansion', 616, 3),
 ('gibraltar', 'stan james', 380, 4),
 ('gibraltar', 'pokerstrategy.com', 332, 5),
 ('greece', 'consolidated contractors international company', 13267, 1),
 ('greece', 'piraeus bank', 6791, 2),
 ('greece', 'national bank of greece', 6274, 3),
 ('greece', 'eurobank (gre)', 5374, 4),
 ('greece', 'alpha bank', 5068, 5),
 ('greenland', 'royal greenland', 928, 1),
 ('greenland', 'naalakkersuisut - grønlands selvstyre', 564, 2),
 ('greenland', 'air greenland', 542, 3),
 ('greenland', 'kommuneqarfik sermersooq', 501, 4),
 ('greenland', 'royal arctic line a/s', 413, 5),
 ('grenada', "st. george's university, grenada", 1198, 1),
 ('grenada', 'true blue bay resort and villas, grenada, west indies', 29, 2),
 ('grenada', 'grenada electricity services limited', 9, 3),
 ('grenada', 'laluna resort', 5, 4),
 ('grenada', 'grenada ports authority', 3, 5),
 ('guadeloupe', 'air caraibes', 480, 1),
 ('guadeloupe', 'air antilles', 111, 2),
 ('guadeloupe', 'la creole beach hotel & spa', 58, 3),
 ('guadeloupe', 'chu de pointe-à-pitre abymes - guadeloupe', 57, 4),
 ('guadeloupe', 'nouvelles iles', 57, 5),
 ('guam', 'university of guam', 755, 1),
 ('guam', 'kuam', 74, 2),
 ('guam', 'sorensen media group', 63, 3),
 ('guam', 'uog endowment foundation', 51, 4),
 ('guam', "today's realty", 41, 5),
 ('guatemala', 'universidad de san carlos de guatemala', 1901, 1),
 ('guatemala', 'telus international central america', 1396, 2),
 ('guatemala', 'universidad rafael landivar', 1377, 3),
 ('guatemala', 'cbc (the central america bottling corporation)', 1272, 4),
 ('guatemala', 'universidad del valle de guatemala', 936, 5),
 ('guernsey', 'trafalgar travel', 883, 1),
 ('guernsey', 'states of guernsey', 753, 2),
 ('guernsey', 'new century', 223, 3),
 ('guernsey', 'healthspan', 222, 4),
 ('guernsey', 'collas crill', 198, 5),
 ('guinea', 'mtn guinea', 386, 1),
 ('guinea', 'orange mali', 360, 2),
 ('guinea', 'compagnie des bauxites de guinée', 149, 3),

# Merge CompanyDataset and CompanyClassification

- merge both tables into one table
- ensure data is clean and ready for analysis
- load merged dataset to new table in combined_data.db

In [14]:
company_classification.isnull().sum(axis=0)

Category                0
Website                 0
CompanyName             0
homepage_text         669
h1                  27321
h2                  20762
h3                  29315
nav_link_text       25924
meta_keywords       50302
meta_description     7088
dtype: int64

In [15]:
company_dataset.isnull().sum(axis=0)

Company_ID                         0
CompanyName                        3
Website                      1650621
Year_Founded                 3606980
Industry                      290003
Size_Range                         0
Locality                     2508825
Country                      2349207
Linkedin_URL                       0
Current_Employee_Estimate          0
Total_Employee_Estimate            0
dtype: int64

In [16]:
# check table structure and column names
db.run_query(conn,"PRAGMA table_info('CompanyDataset');")

[(0, 'Company_ID', 'INTEGER', 0, None, 0),
 (1, 'CompanyName', 'TEXT', 0, None, 0),
 (2, 'Website', 'TEXT', 0, None, 0),
 (3, 'Year_Founded', 'REAL', 0, None, 0),
 (4, 'Industry', 'TEXT', 0, None, 0),
 (5, 'Size_Range', 'TEXT', 0, None, 0),
 (6, 'Locality', 'TEXT', 0, None, 0),
 (7, 'Country', 'TEXT', 0, None, 0),
 (8, 'Linkedin_URL', 'TEXT', 0, None, 0),
 (9, 'Current_Employee_Estimate', 'INTEGER', 0, None, 0),
 (10, 'Total_Employee_Estimate', 'INTEGER', 0, None, 0)]

In [17]:
# check table structure and column names
db.run_query(conn,"PRAGMA table_info('CompanyClassification');")

[(0, 'Category', 'TEXT', 0, None, 0),
 (1, 'Website', 'TEXT', 0, None, 0),
 (2, 'CompanyName', 'TEXT', 0, None, 0),
 (3, 'homepage_text', 'TEXT', 0, None, 0),
 (4, 'h1', 'TEXT', 0, None, 0),
 (5, 'h2', 'TEXT', 0, None, 0),
 (6, 'h3', 'TEXT', 0, None, 0),
 (7, 'nav_link_text', 'TEXT', 0, None, 0),
 (8, 'meta_keywords', 'TEXT', 0, None, 0),
 (9, 'meta_description', 'TEXT', 0, None, 0)]

## create new table to insert into

In [23]:
db.run_query(conn, '''
                    CREATE TABLE IF NOT EXISTS CompanyMerged (
                     Company_ID INTEGER PRIMARY KEY
                     ,CompanyName TEXT NOT NULL
                     ,Website TEXT NOT NULL
                     ,Industry TEXT
                     ,Size_Range TEXT
                     ,Locality TEXT
                     ,Country TEXT
                     ,Current_Employee_Estimate INTEGER
                     ,Total_Employee_Estimate INTEGER
                     ,Category TEXT NOT NULL
                     ,homepage_text TEXT NOT NULL
                     ,h1 TEXT
                     ,h2 TEXT
                     ,h3 TEXT
                     ,nav_link_text TEXT
                     ,meta_keywords TEXT
                     ,meta_description TEXT

                    )
                    '''
             )

[]

In [24]:
# identify names of tables in the database
db.run_query(conn,"SELECT name FROM sqlite_master WHERE type='table'")

[('CompanyClassification',), ('CompanyDataset',), ('CompanyMerged',)]

In [31]:
db.run_query(conn, '''
                    INSERT INTO CompanyMerged
                    SELECT 
                        cd.Company_ID
                        ,cd.CompanyName
                        ,cd.Website
                        ,cd.Industry
                        ,cd.Size_Range
                        ,cd.Locality
                        ,cd.Country
                        ,cd.Current_Employee_Estimate
                        ,cd.Total_Employee_Estimate
                        ,cc.Category
                        ,cc.homepage_text
                        ,cc.h1
                        ,cc.h2
                        ,cc.h3
                        ,cc.nav_link_text
                        ,cc.meta_keywords
                        ,cc.meta_description
                    FROM CompanyDataset as cd
                    INNER JOIN CompanyClassification as cc
                        ON cd.Website=cc.Website
                        and cc.Website is not null
                    WHERE cd.Website is not null
                    and cd.CompanyName is not null
                    and cc.homepage_text is not null
                    ''')

[]

In [33]:
# create indexes for both tables
indexes_to_create = {
    'CompanyMerged': ['Company_ID','CompanyName', 'Website','Industry','Category']
}

db.create_indexes(conn, indexes_to_create)

Created index: idx_companymerged_company_id on CompanyMerged(Company_ID)
Created index: idx_companymerged_companyname on CompanyMerged(CompanyName)
Created index: idx_companymerged_website on CompanyMerged(Website)
Created index: idx_companymerged_industry on CompanyMerged(Industry)
Created index: idx_companymerged_category on CompanyMerged(Category)

In [32]:
company_merged = pd.read_sql_query("select * from CompanyMerged",conn)
print(len(company_merged))
company_merged.head()

73124

,Company_ID,CompanyName,Website,Industry,Size_Range,Category,homepage_text,h1,h2,h3,nav_link_text,meta_keywords,meta_description
0,99,crinan hotel,crinanhotel.com,hospitality,1 - 10,Corporate Services,01546 830261 Crinan · by Lochgilp...,Latest News#sep#Website Privacy Statement#sep#...,How we use cookies#sep#Security#sep#Let's be S...,Accommodation#sep#Activities#sep#Experience Cr...,None,"Crinan hotel, country house hotel, boutique ho...",Crinan Hotel - on waterfront overlooking Loch ...
1,222,"spot on productions, llc",spotonproductionsllc.com,entertainment,1 - 10,"Media, Marketing & Sales",...,Storytelling Brought to Life.,None,None,None,None,"We're Philip Scarborough and Tom Beck, the for..."
2,535,akhand jyoti eye hospital,akhandjyoti.in,hospital & health care,11 - 50,Healthcare,Donate ...,Eradicate Curable Blindness,"12,600,000#sep#In Low-Income States Of India",Our Girls Help#sep#Donate In Specific Programs...,"why blindness,women empowerment,our impact,abo...",Akhand Jyoti - the largest eye hospital in eas...,"Akhandjyoti, akhand jyoti eye hospital, non-pr..."
3,642,lasercare eye center,dfweyes.com,medical practice,1 - 10,Healthcare,...,None,None,None,"home,why choose us,new patient information,pat...",None,Call 214.574.9600 TODAY for an appointment! Th...
4,675,compumachine inc,compumachine.com,machinery,1 - 10,Industrials,MACHINES & AUTOMATION HOME MACHINE...,None,MACHINES & AUTOMATION,None,"home,machines,automation,mastercam,services,ab...",None,Compumachine is proud to offer CNC Machine Too...